/* 1344px */
@media (max-width: 84em) {
  .main {
    max-width: 120rem;
  }

  .main-section-heading {
    font-size: 4.4rem;
  }

  /* .gallery-block {
    grid-template-columns: 1fr 1fr;
  } */

  .testimonials-block {
    padding: 4.8rem;
  }
}

/* 1200px */
@media (max-width: 75em) {
  html {
    font-size: 50%;
  }

  .heading2 {
    font-size: 3.6rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .grid {
    gap: 6.4rem;
  }

  .testimonials-block {
    padding: 8rem;
  }

  .featured-imgs img {
    height: 2.4rem;
  }
}

/* 944px  */
@media (max-width: 59em) {
  .main {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 6.4rem 6.4rem 9.6rem 6.4rem;
  }

  .button-mobile-nav {
    display: block;
    z-index: 1000;
  }

  .nav-list {
    flex-direction: column;
    gap: 4.4rem;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transform: translateX(100%);
  }

  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;

    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .menu-item {
    font-size: 3rem;
  }

  .customers {
    justify-content: center;
  }
  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery-block {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta-card {
    grid-template-columns: 6fr 4fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .form-button {
    margin-top: 2rem;
  }

  .card-text {
    padding: 3.2rem 3.2rem 3.2rem 3.2rem;
  }

  .plan-cards-container {
    gap: 4.8rem;
  }

  .plan-card {
    width: 90%;
  }

  .footer-grid-container {
    gap: 2.4rem;
  }
}

/*  704px - mobile navigation*/
@media (max-width: 44em) {
  .customers {
    margin-top: 2rem;
  }
  .gallery-block {
    gap: 1rem;
  }

  .heading2 {
    font-size: 3rem;
    margin-bottom: 4.8rem;
  }

  .step-heading {
    font-size: 2.4rem;
  }

  .step-num {
    font-size: 6.4rem;
  }

  .plan-cards-container {
    gap: 2rem;
  }

  .plan-card {
    padding-right: 2rem;
    padding-left: 2.8rem;
    width: 100%;
  }

  .price {
    font-size: 5.2rem;
  }
  .plan-card-name {
    font-size: 1.8rem;
  }
  /* 
  .price-details-list-container ul {
    font-size: 1.6rem;
  } */

  .features-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .best-value-container {
    padding: 0.4rem 5rem;
    right: -5rem;
    top: 3rem;

    font-weight: 500;
    font-size: 1.4rem;
  }

  .card-container {
    grid-template-columns: 1fr 1fr;
    row-gap: 6.4rem;
  }

  .diet-list-container {
    grid-column: span 2;
    justify-self: center;
  }

  .footer-grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 6.4rem;
  }

  .logo-col,
  .contact-col {
    grid-column: span 3;
  }

  .account-col,
  .company-col,
  .resources-col {
    grid-row: 1;
    grid-column: span 2;
  }
}

/* 544 */
@media (max-width: 34em) {
  .main-section-description {
    margin-bottom: 3.6rem;
  }

  .button,
  .button:link,
  .button:visited {
    padding: 2.4rem 1.2rem;
  }
  .heading-featured {
    font-size: 1.2rem;
  }
  .featured-imgs img {
    height: 1.4rem;
  }
  .card-container {
    grid-template-columns: 1fr;
  }

  .card {
    width: 80%;
    justify-self: center;
  }

  .diet-list-container {
    grid-column: auto;
  }

  .testimonials-container {
    grid-template-columns: 1fr;
    gap: 4.8rem;
  }
  .gallery-block {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8rem;
  }

  .steps div:nth-child(2) {
    grid-row: 1;
  }

  .steps div:nth-child(6) {
    grid-row: 5;
  }

  .step-img-container {
    transform: translateY(4.8rem);
  }

  .plan-cards-container,
  .cta-card,
  .features-container,
  .steps {
    grid-template-columns: 1fr;
  }

  .plan-card {
    width: 80%;
    justify-self: center;
  }

  .cta-img {
    height: 32rem;
    grid-row: 1;
  }

  .cta-text {
    padding: 3.2rem;
  }
}
